@charset "utf-8";
@import url("https://use.typekit.net/cvz4gbv.css");

/* CSS Document */

* {
	margin: 0px;
	padding: 0px;
	width: 100%;
}

body {
	margin: 0px;
	padding: 0px;
	background-color: white;
	color: black;
	font-family:'brioso pro';
	width: 100%;
}
	
/**** TinT HEADER ****/

#tint-header-div {
	background-color:rgba(254,254,253,1.00);
	color: antiquewhite;
	width: 100%;
	text-align: center;
	padding: 0px 20px;
	margin: 0px auto;
}

#tint-header-div img {
	padding-top: 20px;
	margin: 0px auto;
	object-fit: contain;
	max-width: 500px;
	height: auto;
}


/**** NAVIGATION ****/

nav {
    
    background-color:rgba(227,182,68,1.00);
    border-top: 4px solid goldenrod;

	font-family: 'brioso pro';
	font-size: 12pt;
	font-weight: bolder;
    text-transform:uppercase;
    letter-spacing: 2pt;
	text-align: center;
    vertical-align: middle;
	
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0px;
    padding: 0px 20px;
	width: 100%;
}

nav a {
	color:rgba(0,44,44,1.00);
	text-decoration: none;
	max-width: 250px;
	min-width: 100px;
	height: 20px;
	width: auto;
	flex: 1 1 auto;
	margin: 0px;
	padding: 15px;
	border: none;
}



nav a:hover {
	color:white;
}

/**** MAIN CONTENT ****/

main {
margin: 0px auto;
padding: 0px;
}

/*** main content window box styling ***/

.flex-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0px auto;
	padding: 0px;
	min-width: 500px;
	max-width: 100%;
}

.max-width-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin: 20px 0px;
	padding: 0px 20px;
	max-width: 1000px;
}

.div-colorbar-dark-green {
	background-color:rgba(0,55,55,1.00);
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content:center;
	margin: 0px;
	padding: 20px 20px;
	width: 100%;
}

.div-colorbar-dark-green h1 {
	color:rgba(254,254,254,1.00);
	font-size: 40px;
}

.div-colorbar-dark-green h2 {
	color: goldenrod;
	font-size: 28px;
}
.div-colorbar-dark-green p {
	color: antiquewhite;
	font-size: 20px;
	font-style: italic;
}

.div-colorbar-dark-green a {
	color:rgba(138,114,158,1.00);
	font-weight: bold;
	text-decoration: underline;
}

.div-colorbar-dark-green a:hover {
	color:white;
	font-weight: bold;
	text-decoration: underline;
}

.div-colorbar-lavender {
	background-color:rgba(198,181,223,1.00);
/**	background-image: url("tint-images/sky1.png");
	background-size: cover;
	background-position: center;
    background-repeat: repeat-y;
	background-attachment: fixed; **/
	
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0px;
	padding: 10px 20px;
	width: 100%;
}

.div-colorbar-lavender h1 {
	color:rgba(0,33,33,1.00);
	font-size: 40px;
}

.div-colorbar-lavender h2 {
	color:rgba(0,33,33,1.00);
	font-size: 28px;
}

.div-colorbar-lavender p {
	color:rgba(0,33,33,1.00);
	font-weight: bold;
}

.div-colorbar-lavender a {
	color:darkgoldenrod;
	font-weight: bold;
	text-decoration: underline;
}

.div-colorbar-lavender a:hover {
	color:white;
	font-weight: bold;
	text-decoration: underline;
}

.div-colorbar-footer-info {
	background-color:rgba(198,181,223,1.00);
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0px;
	padding: 30px 20px;
	width: 100%;
}

.div-colorbar-footer-info h2 {
	color: rgba(0,33,33,1.00);
}
.div-colorbar-footer-info p {
	color: rgba(0,33,33,1.00);
}


p {
	color:rgba(0,33,33,1.00);
	text-align: left;
	font-size: 13pt;
	margin: 15px auto;
}

/**** INDEX PAGE ****/

.img-text-feature {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0px;
	padding: 0px 20px;
	max-width: 1000px;
}

.about-img-div {
	max-width:300px;
	margin: 0px 30px;
}

.about-img-div img {
	border: 3px solid rgba(0,44,44,1.00);
	border-radius: 100px;
	margin: 10px 15px 10px 15px;
	box-shadow: 0px 0px 20px 0px rgba(0,33,33,0.6);
	width: 220px;
}

.about-text-div {
	width: 100%;
	max-width:400px;
	min-width:200px;
	margin: 15px 15px 15px 15px;
}

.about-text-div p{
	font-style: italic;
}

/***** shoppe images colorbar  *****/
.shoppe-images-section {
	background-color:none;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0px auto;
	padding: 0px;
	max-width: 900px;
}

.shoppe-img-div {
	text-align: center;
	padding: 10px;
	margin: 0px;
	min-width: 100px;
	max-width: 200px;
	flex: 1 0 auto;
	background-color: none;
}

.shoppe-img-div img {
	border: 2px solid darkgoldenrod;
	margin: 0px; 
	padding:0px;
	object-fit: contain;
	width: 100%;
	
}

/**** CONTACT PAGE ****/

.contact-page-section {
	text-align: left;
	padding: 20px 0px;
	margin: 0px;
	max-width: 500px;
	min-width: 200px;
	flex: 1 0 auto;
}

/** contact form **/

form {
	text-align: left;
	font-size: 14pt;
	margin: 0px 0px 20px 0px;
}

fieldset {
	border: 2px ridge darkgoldenrod;
	border-radius: 30px;
	margin: 0px auto;
	padding: 0px;
	padding-bottom: 20px;
	text-align: left;
	background-color: none;
	color: antiquewhite;
	min-width: 250px;
	max-width: 500px;
	display: inline-block;
}

label {
	font-size: 14pt;
	text-align: left;
	min-width: 20px;
	max-width: 200px;
	width: 100%;
	margin: 0px;
}

input {
	text-align: left;
	margin: 5px;
	padding: 5px;
	background-color: antiquewhite;
	min-width: 120px;
	max-width: 300px;
	width: 100%;
}

textarea {
	padding: 7px;
	color: black;
	text-align: left;
	background-color: antiquewhite;
	min-width: 150px;
	max-width: 350px;
	width: 100%;
	margin: 10px auto;
	display: block;
}

#checkbox-label-div {
	text-align: left;
	margin: 30px auto;
	padding: 0px;
	min-width: 150px;
	max-width: 350px;
	width: 100%;
}

.checkbox {
	padding: 0px;
	margin: 0px 5px 0px 0px;
	max-width: 30px;
	min-width: 10px;
	width: 100%;
	height: 20px;
	vertical-align: middle;
	
}

.submit-button-div {
	width: auto;
	height: auto;
	margin: 60px auto 30px auto;
}

.submit-button-div a{
	min-width: auto;
	height: auto;
	margin: 0px auto;
	padding: 12px 20px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	font-family: 'brioso pro';
	font-size: 14pt;
	font-weight: bold;
	letter-spacing: 3pt;
	color: goldenrod;
	box-shadow: 0px 0px 15px whitesmoke;
	border-radius: 50px;
	background-color: rgba(0,0,0,0.25);
	border:thin outset darkgoldenrod;
}

.submit-button-div a:hover {
	color: whitesmoke;
	text-decoration: none;
	background-color:darkgoldenrod;
	text-shadow: 0px 0px 10px rgba(0,0,0,0.6);
	border:thin outset darkgoldenrod;
}

.book-button-div a:hover {
	color: whitesmoke;
}

/**** TAROT PAGE ****/

#tarot-intro-text-container {
	width: 100%;
	max-width: 400px;
	min-width: 200px;
	margin: 20px auto;
}

#tarot-intro-text-container p{
	font-style: italic;
}

.meet-readers-section {
	background-color:none;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0px;
	padding: 0px;
	max-width: 1000px;
}

.reader-bio-div {
	text-align: center;
	padding: 0px;
	margin: 20px auto;
	max-width: 200px;
	min-width: 150px;
	flex: 1 0 auto;
}

.reader-bio-div img {
	width: 150px;
	height: 150px;
	border: 2px solid rgba(0,33,33,1.00);
	box-shadow: 0px 0px 20px whitesmoke;
	margin-bottom: 20px;
}

.reader-bio-div h2 {
	color: goldenrod;
	font-size: 20px;
}

.reader-bio-div p{
	text-align: left;
	margin-left: 15px;
	margin-right: 15px;
	color: whitesmoke;
	font-size: 12px;
	font-family: "brioso pro";
	font-style: normal;
}

.reader-bio-div a {
	font-size: 14px;
	text-decoration: underline;
}

.book-button-div {
	margin: 30px auto;
}

.book-button-div a{
	padding: 12px 12px 10px 12px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	font-family: 'brioso pro';
	font-size: 10pt;
	letter-spacing: 1pt;
	color: goldenrod;
	box-shadow: 0px 0px 15px whitesmoke;
	border-radius: 50px;
	background-color: rgba(0,0,0,0.25);
	border: thin outset darkgoldenrod;
}

.book-button-div a:hover {
	color: whitesmoke;
	text-shadow: 0px 0px 10px rgba(0,0,0,0.6);
	background-color: darkgoldenrod;
	border:thin outset darkgoldenrod;
	text-decoration: none;
}

/**** footer info section ****/



/** hours section **/

#hours-section {
	max-width: 300px;
	margin: 0px 40px;
}

#hours-section p, h2, div {
text-align: center;
}

#hours-table {
	border: 2px inset darkgoldenrod;
	background-color:rgba(254,254,254,1.00);
	margin: 20px auto;
	padding: 10px;
	font-family: "brioso pro";
	font-size: 18px;
	width: 240px;
	color: rgba(0,33,33,1.00);
}

#hours-table th {
	text-align: right;
	font-weight: bolder;
	padding: 5px;
	width: 100px;

}

#hours-table td {
	text-align: center;
	width: 110px;
}

#hours-section .book-button-div a {
	color:white;
}


/*** location section ***/

#location-section {
	margin: 0px 40px;
	max-width: 300px;
}

#location-section h2 {
	margin-bottom: 0px;
}

#location-div {
	width: 300px;
	margin: 0px auto;
	padding: 0px 0px 0px 20px;
}

#location-div p {
	width: 140px;
	display: inline-block;
	text-align: left;
}

#location-section iframe {
	border-color: darkgoldenrod;
}

.smedia-icons-div {
	margin: 20px auto;
}

.smedia-icons-div img {
	width: 50px;
	margin: 0px 10px;
	border-radius: 50px;
}

.smedia-icons-div img:hover {
	background-color: rgba(138,114,158,1.00);
}

/*** FOOTER *************/

footer {
	vertical-align: bottom;
    margin: 0px auto;
	padding: 10px 20px;
	height: 100%;
	width: 100%;
	background-color:rgba(227,182,68,1.00);
	font-family:'brioso pro';
	letter-spacing: 1px;
	font-weight: bold;
	font-size: 16px;
}

footer p {
    text-transform: uppercase;
    text-align: center;
	vertical-align: bottom;
	color: rgba(0,33,33,1.00;
}

/**** SCROLLBAR ****/

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: whitesmoke;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: black;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(139,122,152,1.00);
}

/******UNUSED******/

